# fly.toml app configuration file for bree-api
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bree-api'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  PORT = "3000"
  NODE_ENV = "production"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512

[[mounts]]
  source = "bree_api_data"
  destination = "/app/data"
